.section-description {
  padding: 0px 81px 0px 119px;
  margin: 150px 0px 0px 0px;  
}

.description__title {  
  font-family: var(--merriweather);
  font-weight: 700;
  font-size: 36px;
  line-height: 45.25px;
  margin-top: 0;
}

.description-container {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
}

.description {
  width: 315px;
  height: 100%;
}

.description-texts {
  display: flex;
  flex-direction: column;  
  padding-top: 50px;
}

.img__list, .img__check,
.img__build, .img__calendar  {
  width: 32px;
  height: 32px;  
}