.section-description {
  display: flex;
  flex-direction: column;
  padding: 0px 81px 0px 119px;
  margin: 150px 0px 0px 0px;  
}

.description__title {  
  font-family: var(--merriweather);
  font-weight: 700;
  font-size: 36px;
  line-height: 45.25px;
  margin-top: 0;
}

.description-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 60px 15px 0px 0px;
}

.description-texts {
  display: flex;
  flex-direction: column;  
  padding-top: 50px;
}

.img__list, .img__check,
.img__build, .img__calendar  {
  width: 32px;
  height: 32px;  
}

@media (max-width: 992px) {
  .section-description {
    padding: 0px 40px 0px 40px;    
  }

  .description__title {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .description__title {
    text-align: center;
  }

  .description-container{
    flex-direction: column;
    align-items: center;    
  }
}

@media (max-width: 576px) {
  .description {
    width: 200px;
}