.services {
  display: flex;    
  width: 100%;
  justify-content: space-between;
  padding: 0px 81px 0px 119px;
  margin: 400px 0px 0px 0px;
  /* border: 1px solid purple; */
}

.contents {  
  width: 387px;
  margin: 0px 41px 0px 0px;  
}

.container-text {
  margin-top: 4rem;
}

.title {
  font-family: var(--merriweather);
  font-weight: 700;
  font-size: 24px;
  line-height: 30.17px;
}

.text {
  font-family: var(--montserrat);
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
}

.text--bolder {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 18px;
  line-height: 21.94px;  
}

.img__girl {
  width: 247,5px;
  height: 180px;
}

.img__map {
  width: 208,98px;
  height: 161,85px;
}

.img__geo {
  width: 252,89px;
  height: 180px;
}