@mixin media-max-width($width) {
  @media (max-width: $width) {
    @content;  
  }
}

@mixin texts-site {
  .title,
  .community__title,  
  .advantages__title,
  .footer__title,
  .footer__sub-titles {
    font-family: $merriweather;
    font-weight: 700;
    font-size: 24px;
    line-height: 30.17px;
  }

  .text {
    font-family: $montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    
    &--gray {
      color: map-get($color, gray);
    }
           
    &--orange {
      color: map-get($color, orange);
    }
    
    &--bolder {
      font-family: $montserrat;
      font-weight: 700;
      font-size: 18px;
      line-height: 21.94px;
    }
  }
}

@mixin text-footer {
  .footer__list,
  .footer__text {  
    font-family: $montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    color: map-get($color, black);
    margin-bottom: 24px;
  }
}