$montserrat:('Montserrat', sans-serif);
$merriweather:('Merriweather', arial);
$color:(black: #000000, white: #ffffff, orange: #F78065, gray: #848484, light: #F7F7F7);
$breakpoint-x-x-large: 1400px;
$breakpoint-x-large: 1200px;
$breakpoint-large: 992px;
$breakpoint-medium: 768px;
$breakpoint-small: 576px;