@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.header {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: space-between;
  padding: 40px 110px 0px 122px; }
  @media (max-width: 992px) {
    .header {
      padding: 40px 40px 0px 40px; } }
  .header-login {
    display: flex;
    height: 53px;
    width: 86px;
    border-radius: 26.5px;
    background-color: #ffffff; }
    @media (max-width: 992px) {
      .header-login {
        width: 80px;
        height: 50px; } }
    .header-login__icon {
      height: 1rem;
      margin-top: 15.58px;
      margin-left: 1rem;
      padding-top: 9px; }
      @media (max-width: 992px) {
        .header-login__icon {
          margin-top: 14px; } }
    .header-login__img {
      height: 2rem;
      margin-top: 10px;
      margin-left: 10px; }
      @media (max-width: 992px) {
        .header-login__img {
          height: 1.8rem; } }

.section-top__main-image {
  display: flex;
  width: 100%;
  height: 650px;
  background: url("../img/main-image.png") center/cover; }
  @media (max-width: 992px) {
    .section-top__main-image {
      height: 400px; } }

.box {
  position: relative;
  width: 741px;
  background-color: #ffffff;
  margin: -260px 0 0 63px;
  padding: 96px 156px 75px 62px;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1); }
  @media (max-width: 992px) {
    .box {
      width: 100%;
      margin: 0;
      padding: 60px 40px; } }
  .box__title {
    font-family: "Merriweather", arial;
    font-weight: 700;
    font-size: 39px;
    margin-top: 0px;
    margin-bottom: 0px; }
    @media (max-width: 992px) {
      .box__title {
        font-size: 25px; } }
  .box .text--orange {
    color: #F78065; }
  .box__text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    opacity: 60%; }
    @media (max-width: 992px) {
      .box__text {
        font-size: 15px;
        padding: 15px 0px 15px 0px; } }
  .box-button {
    display: flex;
    width: 250px;
    height: 65px;
    padding: 20.5px 0px 0px 69px;
    background: #F78065;
    border: #F78065; }
    @media (max-width: 992px) {
      .box-button {
        width: 185px;
        padding: 20.5px 0px 0px 45px; } }
    .box-button__img {
      width: 24px;
      height: 24px; }
      @media (max-width: 992px) {
        .box-button__img {
          width: 20px;
          height: 20px; } }
    .box-button__text {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 18px;
      margin-left: 8px;
      color: #ffffff; }
      @media (max-width: 992px) {
        .box-button__text {
          font-size: 16px; } }

.services {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 81px 0px 119px;
  margin: 80px 0px 0px 0px; }
  @media (max-width: 992px) {
    .services {
      padding: 0px 40px 0px 40px;
      margin: 30px 0px 0px 0px; } }
  @media (max-width: 768px) {
    .services {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; } }
  .services .contents {
    width: 395px;
    margin: 60px 10px 0px 0px; }
    .services .contents .img__girl, .services .contents .img__map, .services .contents .img__geo {
      width: 222.82px;
      height: 180px; }
    .services .contents .container-text {
      margin-top: 4rem; }
      .services .contents .container-text .title,
      .services .contents .container-text .advantages__title,
      .services .contents .container-text .footer__title,
      .services .contents .container-text .footer__sub-titles {
        font-family: "Merriweather", arial;
        font-weight: 700;
        font-size: 24px;
        line-height: 30.17px; }
      .services .contents .container-text .text {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 19.5px; }
        .services .contents .container-text .text--gray {
          color: #848484; }
        .services .contents .container-text .text--orange {
          color: #F78065; }
        .services .contents .container-text .text--bolder {
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          font-size: 18px;
          line-height: 21.94px; }
      @media (max-width: 992px) {
        .services .contents .container-text {
          margin-top: 2rem; } }

.section-description {
  display: flex;
  flex-direction: column;
  padding: 0px 81px 0px 119px;
  margin: 150px 0px 0px 0px; }
  @media (max-width: 992px) {
    .section-description {
      padding: 0px 40px 0px 40px; } }
  .section-description .description__title {
    font-family: "Merriweather", arial;
    font-weight: 700;
    font-size: 36px;
    line-height: 45.25px;
    margin-top: 0; }
    @media (max-width: 992px) {
      .section-description .description__title {
        font-size: 25px; } }
    @media (max-width: 768px) {
      .section-description .description__title {
        text-align: center; } }
  .section-description .description-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px; }
    @media (max-width: 768px) {
      .section-description .description-container {
        flex-direction: column;
        align-items: center; } }
    .section-description .description-container .description {
      display: flex;
      flex-direction: column;
      width: 280px;
      margin: 60px 15px 0px 0px; }
      @media (max-width: 576px) {
        .section-description .description-container .description {
          width: 200px; } }
      .section-description .description-container .description .img__list, .section-description .description-container .description .img__check,
      .section-description .description-container .description .img__build, .section-description .description-container .description .img__calendar {
        width: 32px;
        height: 32px; }
      .section-description .description-container .description .description-texts {
        display: flex;
        flex-direction: column;
        padding-top: 50px; }
        .section-description .description-container .description .description-texts .title,
        .section-description .description-container .description .description-texts .advantages__title,
        .section-description .description-container .description .description-texts .footer__title,
        .section-description .description-container .description .description-texts .footer__sub-titles {
          font-family: "Merriweather", arial;
          font-weight: 700;
          font-size: 24px;
          line-height: 30.17px; }
        .section-description .description-container .description .description-texts .text {
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          font-size: 16px;
          line-height: 19.5px; }
          .section-description .description-container .description .description-texts .text--gray {
            color: #848484; }
          .section-description .description-container .description .description-texts .text--orange {
            color: #F78065; }
          .section-description .description-container .description .description-texts .text--bolder {
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 21.94px; }

.section-community {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0px 110px 0px 119px;
  margin: 200px 0px 200px 0px; }
  @media (max-width: 992px) {
    .section-community {
      padding: 0px 40px 0px 40px;
      margin: 150px 0px 0px 0px; } }
  .section-community .community-container {
    display: flex; }
    @media (max-width: 1400px) {
      .section-community .community-container {
        flex-direction: column;
        margin: 0; } }
    .section-community .community-container .community-box {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 310px;
      margin-right: 127px; }
      @media (max-width: 1400px) {
        .section-community .community-container .community-box {
          width: auto; } }
      @media (max-width: 768px) {
        .section-community .community-container .community-box {
          text-align: center;
          align-items: center;
          margin: 0; } }
      .section-community .community-container .community-box .title,
      .section-community .community-container .community-box .advantages__title,
      .section-community .community-container .community-box .footer__title,
      .section-community .community-container .community-box .footer__sub-titles {
        font-family: "Merriweather", arial;
        font-weight: 700;
        font-size: 24px;
        line-height: 30.17px; }
      .section-community .community-container .community-box .text {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 19.5px; }
        .section-community .community-container .community-box .text--gray {
          color: #848484; }
        .section-community .community-container .community-box .text--orange {
          color: #F78065; }
        .section-community .community-container .community-box .text--bolder {
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          font-size: 18px;
          line-height: 21.94px; }
      .section-community .community-container .community-box .community__title {
        font-size: 36px;
        line-height: 45.25px;
        padding-bottom: 15px;
        margin: 0; }
        @media (max-width: 992px) {
          .section-community .community-container .community-box .community__title {
            font-size: 25px; } }
        @media (max-width: 768px) {
          .section-community .community-container .community-box .community__title {
            text-align: center; } }
      .section-community .community-container .community-box .community-button {
        display: flex;
        width: 250px;
        height: 65px;
        padding: 20.5px 0px 0px 85px;
        margin: 30px 0px 60px 0px;
        background: #F78065;
        border: #F78065; }
        @media (max-width: 768px) {
          .section-community .community-container .community-box .community-button {
            margin-bottom: 20px; } }
        @media (max-width: 576px) {
          .section-community .community-container .community-box .community-button {
            width: 240px; } }
        .section-community .community-container .community-box .community-button__play {
          width: 14.15px;
          height: 12.36px;
          margin-top: 5px; }
        .section-community .community-container .community-box .community-button__text {
          margin-left: 8px;
          color: #ffffff; }
    .section-community .community-container .community__contents {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      justify-content: space-between; }
      @media (max-width: 768px) {
        .section-community .community-container .community__contents {
          flex-direction: column;
          text-align: center; } }
      .section-community .community-container .community__contents .title,
      .section-community .community-container .community__contents .advantages__title,
      .section-community .community-container .community__contents .footer__title,
      .section-community .community-container .community__contents .footer__sub-titles {
        font-family: "Merriweather", arial;
        font-weight: 700;
        font-size: 24px;
        line-height: 30.17px; }
      .section-community .community-container .community__contents .text {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 19.5px; }
        .section-community .community-container .community__contents .text--gray {
          color: #848484; }
        .section-community .community-container .community__contents .text--orange {
          color: #F78065; }
        .section-community .community-container .community__contents .text--bolder {
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          font-size: 18px;
          line-height: 21.94px; }
    .section-community .community-container .img_lucciano,
    .section-community .community-container .img_cremonesi,
    .section-community .community-container .img_beneventi {
      width: 230px;
      height: 418px; }
      @media (max-width: 768px) {
        .section-community .community-container .img_lucciano,
        .section-community .community-container .img_cremonesi,
        .section-community .community-container .img_beneventi {
          padding-top: 40px; } }

.section-advantages {
  display: flex;
  flex-direction: column;
  padding: 0px 110px 0px 119px;
  margin: 200px 0px 200px 0px; }
  @media (max-width: 992px) {
    .section-advantages {
      padding: 0px 40px 0px 40px;
      margin: 150px 0px 150px 0px; } }
  .section-advantages .title,
  .section-advantages .advantages__title,
  .section-advantages .footer__title,
  .section-advantages .footer__sub-titles {
    font-family: "Merriweather", arial;
    font-weight: 700;
    font-size: 24px;
    line-height: 30.17px; }
  .section-advantages .text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px; }
    .section-advantages .text--gray {
      color: #848484; }
    .section-advantages .text--orange {
      color: #F78065; }
    .section-advantages .text--bolder {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 21.94px; }
  .section-advantages .advantages__title {
    font-size: 36px;
    line-height: 45.25px;
    margin-top: 0; }
    @media (max-width: 992px) {
      .section-advantages .advantages__title {
        font-size: 25px; } }
    @media (max-width: 768px) {
      .section-advantages .advantages__title {
        text-align: center; } }
  .section-advantages .advantages-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media (max-width: 768px) {
      .section-advantages .advantages-container {
        align-items: center;
        justify-content: space-around;
        margin: 0; } }
    @media (max-width: 576px) {
      .section-advantages .advantages-container {
        width: 210px;
        margin: auto; } }
    .section-advantages .advantages-container .advantages-description {
      display: flex;
      flex-direction: column;
      width: 400px;
      padding-top: 70px; }
      @media (max-width: 768px) {
        .section-advantages .advantages-container .advantages-description {
          flex-direction: column; } }
      .section-advantages .advantages-container .advantages-description .img__doublesquare,
      .section-advantages .advantages-container .advantages-description .img__books,
      .section-advantages .advantages-container .advantages-description .img__magnifying {
        width: 32px;
        height: 32px; }
      .section-advantages .advantages-container .advantages-description .advantages-texts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-top: 50px;
        margin-right: 5px; }
      .section-advantages .advantages-container .advantages-description .title,
      .section-advantages .advantages-container .advantages-description .advantages__title,
      .section-advantages .advantages-container .advantages-description .footer__title,
      .section-advantages .advantages-container .advantages-description .footer__sub-titles {
        font-family: "Merriweather", arial;
        font-weight: 700;
        font-size: 24px;
        line-height: 30.17px; }
      .section-advantages .advantages-container .advantages-description .text {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 19.5px; }
        .section-advantages .advantages-container .advantages-description .text--gray {
          color: #848484; }
        .section-advantages .advantages-container .advantages-description .text--orange {
          color: #F78065; }
        .section-advantages .advantages-container .advantages-description .text--bolder {
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          font-size: 18px;
          line-height: 21.94px; }

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #F7F7F7;
  padding: 80px 110px 40px 119px; }
  @media (max-width: 992px) {
    .footer {
      padding: 50px 40px 0px 40px;
      justify-content: space-around; } }
  @media (max-width: 768px) {
    .footer {
      padding: 40px 40px 0px 40px; } }
  .footer .footer__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px; }
    @media (max-width: 768px) {
      .footer .footer__container {
        flex-direction: column;
        margin: 0;
        padding-bottom: 20px; } }
    .footer .footer__container .footer__titles {
      width: 304px; }
      @media (max-width: 768px) {
        .footer .footer__container .footer__titles {
          width: auto; } }
      .footer .footer__container .footer__titles .footer__sub-title {
        font-family: "Merriweather", arial;
        font-weight: 700;
        font-size: 24px;
        line-height: 30.17px;
        color: #000000; }
        @media (max-width: 768px) {
          .footer .footer__container .footer__titles .footer__sub-title {
            margin-top: 0; } }
      .footer .footer__container .footer__titles .title,
      .footer .footer__container .footer__titles .advantages__title,
      .footer .footer__container .footer__titles .footer__title,
      .footer .footer__container .footer__titles .footer__sub-titles {
        font-family: "Merriweather", arial;
        font-weight: 700;
        font-size: 24px;
        line-height: 30.17px; }
      .footer .footer__container .footer__titles .text {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 19.5px; }
        .footer .footer__container .footer__titles .text--gray {
          color: #848484; }
        .footer .footer__container .footer__titles .text--orange {
          color: #F78065; }
        .footer .footer__container .footer__titles .text--bolder {
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          font-size: 18px;
          line-height: 21.94px; }
      .footer .footer__container .footer__titles .footer__title {
        font-size: 48px;
        line-height: 60.34px;
        color: #000000;
        margin-top: 0px; }
        @media (max-width: 768px) {
          .footer .footer__container .footer__titles .footer__title {
            font-size: 38px; } }
    .footer .footer__container .footer__box {
      display: flex;
      justify-content: space-between;
      flex-grow: 0.6;
      flex-wrap: wrap; }
      .footer .footer__container .footer__box .footer__lists-block {
        list-style: none; }
        @media (max-width: 992px) {
          .footer .footer__container .footer__box .footer__lists-block {
            padding: 0;
            margin: 0px 5px 0px 5px; } }
        .footer .footer__container .footer__box .footer__lists-block .title,
        .footer .footer__container .footer__box .footer__lists-block .advantages__title,
        .footer .footer__container .footer__box .footer__lists-block .footer__title,
        .footer .footer__container .footer__box .footer__lists-block .footer__sub-titles {
          font-family: "Merriweather", arial;
          font-weight: 700;
          font-size: 24px;
          line-height: 30.17px; }
        .footer .footer__container .footer__box .footer__lists-block .text {
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          font-size: 16px;
          line-height: 19.5px; }
          .footer .footer__container .footer__box .footer__lists-block .text--gray {
            color: #848484; }
          .footer .footer__container .footer__box .footer__lists-block .text--orange {
            color: #F78065; }
          .footer .footer__container .footer__box .footer__lists-block .text--bolder {
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 21.94px; }
        .footer .footer__container .footer__box .footer__lists-block .footer__sub-titles {
          font-size: 18px;
          line-height: 22.63px;
          color: #000000;
          margin-bottom: 24px; }
        .footer .footer__container .footer__box .footer__lists-block .footer__list,
        .footer .footer__container .footer__box .footer__lists-block .footer__text {
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          font-size: 14px;
          line-height: 17.07px;
          color: #000000;
          margin-bottom: 24px; }
  .footer .horizontal__line {
    border: 1px solid #000000;
    opacity: 20%; }
  .footer .footer__block-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px; }
    .footer .footer__block-nav .footer__list,
    .footer .footer__block-nav .footer__text {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 17.07px;
      color: #000000;
      margin-bottom: 24px; }
    .footer .footer__block-nav .footer__links {
      display: flex;
      list-style: none; }
      @media (max-width: 768px) {
        .footer .footer__block-nav .footer__links {
          display: none; } }
      .footer .footer__block-nav .footer__links .footer__list,
      .footer .footer__block-nav .footer__links .footer__text {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 17.07px;
        color: #000000;
        margin-bottom: 24px; }
      .footer .footer__block-nav .footer__links .footer__text {
        padding-left: 50px; }

/*# sourceMappingURL=index.css.map */
