.section-community {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;  
  padding: 0px 110px 0px 119px;
  margin: 200px 0px 200px 0px;

  @include media-max-width($breakpoint-large) {
    padding: 0px 40px 0px 40px;
    margin: 150px 0px 0px 0px;
  }

  .community-container {
    display: flex;

    @include media-max-width($breakpoint-x-x-large) {
      flex-direction: column;
      margin: 0;
    }

    .community-box {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 310px;
      margin-right: 127px;

      @include media-max-width($breakpoint-x-x-large) {
        width: auto;
      }

      @include media-max-width($breakpoint-medium) {
        text-align: center;
        align-items: center;
        margin: 0;
      }
      
      @include texts-site;

      .community__title {
        font-size: 36px;
        line-height: 45.25px;
        padding-bottom: 15px;
        margin: 0;

        @include media-max-width($breakpoint-large) {
          font-size: 25px;
        }

        @include media-max-width($breakpoint-medium) {
          text-align: center;
        }
      }      

      .community-button {
        display: flex;
        width: 250px;
        height: 65px;  
        padding: 20.5px 0px 0px 85px;
        margin: 30px 0px 60px 0px;
        background: map-get($color, orange);
        border: map-get($color, orange);

        @include media-max-width($breakpoint-medium) {
          margin-bottom: 20px;
        }

        @include media-max-width($breakpoint-small) {
          width: 240px;
        }

        &__play {
          width: 14.15px;
          height: 12.36px;
          margin-top: 5px;
        }        
        
        &__text {
          font-family: $montserrat;
          font-weight: 700;
          font-size: 18px;
          margin-left: 8px;
          color: map-get($color, white);
        }
      }
   }

    .community__contents {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      justify-content: space-between;      

      @include media-max-width($breakpoint-medium) {
        flex-direction: column;
        text-align: center;
      }

      @include texts-site;
    }
        
    .img_lucciano,
    .img_cremonesi,
    .img_beneventi {
      width: 230px;
      height: 418px;

      @include media-max-width($breakpoint-medium) {
        padding-top: 40px;
      }
    }
  }
}